*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: #222;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/* 
h1,
h2 {
  font-family: 'Yatra One';
} */

ol {
  padding: 0;
}

.title {
  font-size: 3rem;
}

.yatra {
  font-family: 'Yatra One';
}

.lh1 {
  line-height: 1;
}

.underline-hover:hover {
  text-decoration: underline;
}

a {
  color: #222;
}

a:visited {
  color: #222;
}

.link-black,
a:visited.link-black {
  color: #222;
}

.link-white,
a:visited.link-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.blue {
  color: #0057ff;
}

.white {
  color: #fff;
}